body {	background-color: #282954;
		text-align: center;
		vertical-align: middle;
		font-family: sans-serif;
}

h1 {	color: #fff53b;
		font-size: 1000%;
}

p {	    color: #ffffff;
		font-size: 500%;
}
